
@import url('https://fonts.googleapis.com/css?family=Orbitron');

body, html {
    height: 100%;
}

body, p, h1, h2, h3, h4, td {
    font-family: 'Orbitron', sans-serif;
}

body {
    background: url(../img/background.png) no-repeat;
    background-size: cover;
    color: white;
}

h1 {
    font-family: 'Orbitron', sans-serif;
}

#hinweis {
    text-align: center;
    font-size: 1.6rem;
}

#bauteil1, #bauteil2, #bauteil3, #congrats {
    display: none;
}

#congrats {
    text-align: center;
    /*position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 200px;
    padding: 2px;*/
    font-size: 32px;
    font-family: 'Courier New', Courier, monospace;
}

.status {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    /*position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;*/
}

#statustext {
    text-align: center;
    font-size: 64px;
}